.App-header {
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 25px;
  width: calc(100% - 50px);
}
